.DropdownItem {
  /* Styling for the DropdownItem class */
  display: inline-block;
  max-width: 50%;
  padding: 0px;
}

.Absolute {
  /* Styling for the Absolute class */
  position: absolute;
  right: 0;
  z-index: 99;
}