.NavBar {
  background-color: #C6B9B7;
  border: 1px solid #171729;
}

.NavLink {
  padding: 5px;
  text-align: center;
  align-items: center;
  display: flex;

}

.NavLink i {
  align-items: center;
  display: flex;
  padding: 15px;
  color: #171729;
  transition: color 0.3s ease;
}

.NavLink i:hover {
  color: #4A90E2; 
  cursor: pointer; 
}

.logo {
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  padding-bottom: 15px;}


.Active i {
  color: #ffffff;

}